{% layout "layout.liquid" %}
{% block content %}

  <div class="flex w-screen h-screen pb-[300px]">

    <div class="flex flex-col m-auto min-w-500 max-w-lg border-4 bg-[#FFDF7E] border-[#FF9900] rounded-xl p-4 drop-shadow-[0_15px_15px_rgba(0,0,0,0.25)] px-10 pt-[40px] pb-[40px] justify-center text-center">

      <h1 class="font-black text-xl text-[#2F0D39] pb-[30px]">Test page links</h1>
      <a href="http://localhost:3000/transaction/add" class="font-bold text-[#2F0D39]">
        1. Add seed data
      </a>
      <br>

      <a href="http://localhost:3000/transaction/balance" class="font-bold text-[#2F0D39]">
        2. Check balance
      </a>
      <br>

      <label class="font-bold text-[#2F0D39]">3. Spend points(click below)</label>
      <a href="http://localhost:3000/transaction/spend/300" class="font-bold text-[#2F0D39]">
        - 300 points
      </a>
      <a href="http://localhost:3000/transaction/spend/500" class="font-bold text-[#2F0D39]">
        - 500 points
      </a>
      <a href="http://localhost:3000/transaction/spend/1500" class="font-bold text-[#2F0D39]">
        - 1500 points
      </a>
      <a href="http://localhost:3000/transaction/spend/5000" class="font-bold text-[#2F0D39]">
        - 5000 points
      </a>
      <a href="http://localhost:3000/transaction/spend/10300" class="font-bold text-[#2F0D39]">
        - 10300 points
      </a>
      <a href="http://localhost:3000/transaction/spend/99999" class="font-bold text-[#2F0D39]">
        - 99999 points
      </a>


    </div>
  </div>
{% endblock %}